body {
	margin: 0;
  	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.Default {
	height: 100vh;
	width: 100vw;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 500% 500%;
	animation: Gradient 60s ease infinite;
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}